{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}

{% block content %}

<div class="container col-sm-10">
   <h3 class="alert alert-info text-center mt-3">About Us</h3>

   <div class="container col-sm-12">
      <div class="row">
         <div class="text-center col-sm-2 card mx-2 mb-2 p-2 align-items-center" style="border-radius: 15px; width: 15rem;">
            <!-- <h4 class=" container  text-center alert-heading alert-warning">About Me</h4> -->
            <img src="{% static 'img/profile.png' %}" class="padded card-img-top img-thumbnail" style="border-radius: 180px;" alt="Abhijeet">
            <div class="card-body abt-card">
               <h5 class="card-title text-center"><b> Abhijeet Sonawane</b></h5>
               <p class="card-text text-center">Computer Science Student<br> Frontend & Backend </p>
               <a href="https://github.com/jacktherock" target="_blank" class="btn btn-sm btn-dark"> <i class="fab fa-github"></i></a>
               <a href="https://portfolio-abhijeets.netlify.app/" target="_blank" class="btn btn-sm btn-danger"> <i class="fas fa-portrait"></i> </i></a>
               <a href="https://www.linkedin.com/in/abhijeetsss/" target="_blank" class="btn btn-sm btn-primary"> <i class="fa fa-linkedin"></i> </i></a>
            </div>
         </div>
         

         <div class="container col-sm-7 mb-2 border" style="border-radius: 15px;">
            <h4 class="text-center mt-2 alert-heading alert-warning text-dark" style="border-radius: 10px; padding: 5px;">Overview</h4>

            <div class="mx-5 mt-3">
               <h5>Summary:</h5>
               <p> A Local Media Streaming Server where you can upload media files like movies, music and access media
                  locally.</p>
            </div>

            <div class="mx-5">
               <h5>Build Using :</h5>
               <ul>
                  <li>
                     Django
                  </li>
                  <li>
                     MongoDb Database
                  </li>
                  <li>
                     HTML
                  </li>
                  <li>
                     CSS
                  </li>
                  <li>
                     JavaScript
                  </li>
                  <li>
                     Bootstrap
                  </li>
                  <li>
                     FontAwesome
                  </li>
               </ul>
            </div>
         </div>

         <div class="text-center col-sm-2 card mx-2 mb-2 p-2 align-items-center" style="border-radius: 15px; width: 15rem;">
            <!-- <h4 class=" container  text-center alert-heading alert-warning">About Me</h4> -->
            <img src="{% static 'img/profile.png' %}" class="padded card-img-top img-thumbnail" style="border-radius: 180px;" alt="Pratik">
            <div class="card-body">
               <h5 class="card-title text-center"><b>Pratik Chopane</b></h5>
               <p class="card-text text-center">Computer Science Student<br> Backend </p>
               <a href="https://github.com/prateiku" target="_blank" class="btn btn-sm btn-dark"> <i class="fab fa-github"></i> </a>
            </div>
         </div>

      </div>
   </div>
</div>

{% endblock content %}