{% extends 'base.html' %}

{% block title %}All Users{% endblock title %}

{% block content %}
<div class="container">
    <h2 class="text-center my-3 alert alert-primary">All Users</h2>
    <hr>
    <div class="col-sm-8 container mb-5">
        <table class="text-center table table-hover">
            <thead class="table-warning">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email ID</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{user.id}}</th>
                    <td>{{user}}</td>
                    <td>{{user.email}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
</div>
{% endblock content %}