{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}

{% block content %}
<div class="container col-sm-10">
    <h2 class="text-center my-3 alert alert-warning">Change Password</h2>
    <div class="container col-sm-6 my-3 shadow border-top" style="border-radius: 15px;">
        <form action="" method="post" novalidate style="padding: 30px 30px;">
            {% csrf_token %}
            {% for fm in form %}
                <div class="mt-2 mb-1">
                    {{fm.label_tag}}
                    <small class="text-danger fw-bold">
                        {{fm.errors|striptags}}
                    </small>
                </div>    
                {{fm}}
            {% endfor %}
            <input type="submit" class="btn btn-primary my-3" value="Change Password">
        </form>
    </div>
</div>
{% endblock content %}