{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}

{% block content %}

<div class="container col-sm-10">
    <h3 class="alert alert-info text-center mt-3">Contact Us</h3>

    <div class="container col-sm-10 mb-3 shadow pt-5 border-top" style="border-radius: 15px; padding: 5px 30px">
        <!-- Contact Form -->
        <form action="" method="post" novalidate>
            {% csrf_token %}

            <!-- Contact Form Fields -->
            {% for fm in form %}
                <div class="mt-2 mb-1">
                    {{fm.label_tag}}
                </div>
                <small class="text-danger fw-bold">
                    {{fm.errors|striptags}}
                </small>
                {{fm}}
            {% endfor %}
            <input class="btn btn-primary my-3" type="submit" value="Send">

        </form>
    </div>
</div>
{% endblock content %}