{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}

{% block content %}
<div class="container col-sm-10">
    <h3 class="alert alert-info text-center mt-3">Contact Us</h3>

    <div class="container col-sm-10 mb-3 shadow pt-5 border-top" style="border-radius: 15px; padding: 5px 30px">

        <form action="" method="post" role="form">
        {% comment %} <form action="" method="" role="form"> {% endcomment %}
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <button type="submit" class="my-3 btn btn-primary">Send Message</button>
        </form>

    </div>
</div>

{% endblock content %}