{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-center alert alert-info">Login </h3>

            <form action="" method="post" novalidate class="shadow p-5 border-top login-signup-fm">
                {% csrf_token %}
                {% for fm in form %}
                    <div class="mt-2 mb-1">
                        <i class="fas fa-user"></i> {{fm.label_tag}}
                        <small class="text-danger fw-bold">
                            {{fm.errors|striptags}}
                        </small>
                    </div>
                    {{fm}}
                {% endfor %}
                <input type="submit" class="btn btn-primary mt-3" value="Login">
                <!-- <p class="mt-2">Don't Have an Account ? Please Contact <a href="{% url 'contact' %}">ADMIN</a></p> -->
                <p class="mt-2">Don't Have an Account ? Please <a href="{% url 'signup' %}">Create Account</a></p>
            </form>

            <div>
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="fw-bold alert alert-danger my-3 ms">{{error}}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}