{% extends 'base.html' %}

{% block title %}Media{% endblock title %}

{% block content %}

<div class="container">
    <h2 class="text-center my-3 alert alert-primary">Media</h2>

    <a href="{% url 'upload' %}" class="btn btn-success mx-2">Upload Media <i class="fas fa-upload"></i></a>

    {% if media %}
    <h4 class="container text-center  my-3 alert-warning border">What Are You Watching Today ?</h4>
    <div class="container row my-4 ">

        {% for file in media %}
        <div class="col-sm-4 card mx-1 my-2" style="width: 19rem;">
            <video class="embed-responsive embed-responsive-16by9 mt-2" poster="{{file.thumbnail.url}}" id="{{user.id}}" height="150px" preload="none" controls="controls">
                <source src="{{file.video.url}}" type="video/mp4" />
            </video>

            <div class="card-body">
                {% if request.user.is_superuser %}
                    <span class="float-end badge rounded-pill bg-primary">{{file.user.username|capfirst}}</span>
                {% endif %}
                <h6 class="card-title">{{file.title|capfirst}}</h5>
                <small class="text-muted">{{file.created_at}}</small> 
            </div>

            <div class="card-footer">
                <form action="{% url 'delete' file.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="float-end btn btn-danger btn-sm"> <i class="fas fa-trash-alt"></i></button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <hr>
    <div class="container col-sm-8">
    <h3 class="text-center my-3 alert alert-danger">No Media Available! Please Upload New Media Files!</h3>
    </div>
    {% endif %}
</div>

{% endblock %}