{% extends 'base.html' %}

{% block title %}Add Media{% endblock title %}

{% block content %}

<div class="container col-sm-10">
    <h2 class="text-center my-3 alert alert-warning">Add Media Files</h2>
    <div class="container col-sm-6 mt-3 shadow border-top mb-3 upload">

        <form action="" method="post" novalidate enctype="multipart/form-data" class="upload-fm">
            {% csrf_token %}
            {% for fm in files %}
                <div class="mt-2 mb-1">
                    {{fm.label_tag}}
                    <small class="text-danger fw-bold">
                        {{fm.errors|striptags}}
                    </small>
                </div>      
                {{fm}}
            {% endfor %}

            <input class="btn btn-success my-3" type="submit" value="Upload">
            <a class="btn btn-secondary mx-2" href="{% url 'media' %}">View Media</a>
        </form>

        <div>
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="fw-bold alert alert-danger my-3 ms">{{error}}</p>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}