{% extends 'base.html' %}

{% block title %}Update Profile{% endblock title %}

{% block content %}
<div class="container col-sm-10">
    <h2 class="text-center my-3 alert alert-warning">Update Profile</h2>
    <div class="container col-sm-6 my-3 shadow border-top uprofile">
        <form action="" method="post" novalidate class="uprofile-fm">
            {% csrf_token %}
            {% for fm in form %}
                <div class="mt-2 mb-1">
                    {{fm.label_tag}}
                </div>
                <small class="text-danger fw-bold">
                    {{fm.errors|striptags}}
                </small>
                {{fm}}
            {% endfor %}
            <input type="submit" class="btn btn-success my-3" value="Update">
            <a class="btn btn-secondary mx-2" href="{% url 'media' %}">Back</a>
        </form>
    </div>
</div>
{% endblock content %}